/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #336021;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header .logo {
    font-size: 36px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.banner {
    background-color: #aec289;
    text-align: center;
    padding: 100px 20px;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 20px;
    color: #ffffff;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.products h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    color: #333;
}

.product button {
    background-color: #e68c3a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product button:hover {
    background-color: #c05d00;
}

footer {
    background-color: #336021;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
